name: "Deploy API to Heroku"

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd demos/backend && yarn build
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "naisho"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          usedocker: true
          appdir: "demos/backend"
